
@media only screen and (max-width: 800px) {
    #imagesec11{
       
        width: 400px !important;
        height: 500px !important;

    }
}

@media only screen and (max-width: 1170px) {
   
    .sec22{
        height: 220vh!important;
       
        
       }
        #imagesec2{
            transform: translate(-280px,550px) !important; 
        }
        .h211{
            transform: translate(0px,-60px) !important; 
        }
        #secp22{
            transform: translate(0px,-60px) !important; 
        }
        /* ////////////////////////////////////////////////////////////////////// */
        .sec11{
            height:260% !important ;
        }
    
        #imagesec11{
            transform: translate(-250px,-70px) !important;
            /* width: 35% !important;
            height: 45% !important; */

        }
        .secHead{
            transform: translate(0px,-355px) !important;
            font-size:0.5em !important;
        }
        .secHeader{
            transform: translate(0px,-420px) !important;

        }
   #secp{
    transform: translate(0px,-150px) !important;


   }
}

  


.sec11 {
    position: absolute;
    background-color:whitesmoke ;
    width: 110%;
    height:130%;
    top: 100%;

}
.secHead{
    font-weight: bold;
 color: #00425a;
 position: absolute;
 top: 22%;
 left: 5%;
text-align: left;
font-size: 2.5em !important;
letter-spacing: 5px;
word-spacing: 5px;
white-space: nowrap;
background-color:transparent;
text-overflow:clip ;
display: flex;
flex-direction: column;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.secHeader{
   top: 30%;
   left: 5%;
    font-weight: bold;
    color: #00425a;
    position: absolute;
   text-align: left;
   font-size: 2.5em !important;
   letter-spacing: 5px;
   word-spacing: 5px;
   white-space: nowrap;
   background-color:transparent;
   text-overflow: ellipsis ;
   overflow: hidden ;
   display: flex;
   flex-direction: column;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#secp{
    left: -2%;
position: absolute;
font-size: 1.5em;
letter-spacing: 1px; 
word-spacing: 2px;
text-align: left;
text-overflow: ellipsis;
overflow: hidden;
white-space: normal;
color: #00425a;
background-color:transparent;
display: flex;
text-align: justify;
flex-direction: column ;
font-family:'Times New Roman', Times, serif;
}
#imagesec11{
    width: 35%;
    height: 60%;
    position: absolute;
    left: 55%;
    top: 25% ;
    border-radius: 100px;
   
}
.h211{
font-weight: bold;
color: #00425a;
position: absolute;
left: 60% !important;
font-size: 2.5em !important;
letter-spacing: 5px;
word-spacing: 5px;
background-color:transparent;
margin-left: -55% !important;
display: flex;
flex-direction: row;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.sec22{
    position: absolute;
    background-color:whitesmoke ;
    display:flex;
    flex-direction: row;
    width: 100%;
    height:660px;
    top: 850px;


}
#secp22{
    position: absolute;
    top: 220px;
left: 5% !important;
font-size: 1.5em;
letter-spacing: 1px; 
word-spacing: 2px;
text-align: right;
text-overflow: ellipsis;
overflow: hidden;
white-space: normal;
color: #00425a;
background-color:transparent;
display: flex;
text-align: justify;
flex-direction: column ;
font-family:'Times New Roman', Times, serif;
}
#imagesec2{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 70%;
    position: absolute;
 left: 55%;
  top: 20%;
    border-radius:50px;

}
#img1{
    width: 9%;
    height: 15%;
    position: absolute;
    margin-top: 26%;
    margin-left: 2%;
}

#secondsec{
    text-align: right !important;
    text-overflow: clip;
    overflow: hidden;
}
