.loSign{
  background-image: url(./visacover.jpg);

  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.container1{
  background-color: rgba(0,0,0.0.5);
}
.logins{
  width: 70%;
  margin-top:10%;
  justify-content: center;
  margin-left:20%
}
.titles{
    color:  #ffffff;
    text-align: center;
    font-weight: bold;
    position:top;
    margin-top: 0%;
    list-style-position: calc(0);
    font-size:60px;
  }

  .username{
    margin: 20px !important;
    color:   #f2f1f2!important;
    font-size:20px !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
  }

   .input {
    height: 32px  !important;
    font-size: 20px !important;
    width: 70% !important;
    background-color: #8e8e8e;
    border-radius: 10px !important;
    justify-content: center !important;
    align-items: center !important;
    border-top-style: none  !important;
    border-left-style: none !important;
    border-right-style: none !important ;
    border-bottom-style:2px solid black !important;
    margin-bottom: 10px !important;
  }

  .error {
    color: red;
  }

  .submit {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    text-transform: uppercase !important;
    font-size: 20px !important;
    border-radius: 25px !important;
    color: white !important;
    padding: 10px 60px !important;
    background: linear-gradient(to right , #3e5bef ,#455afa) !important;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px,
         rgba(0,0,0,0.22) 0px 15px 12px !important;
    margin :auto !important;
    margin-top: 10px !important;
    outline: none !important;
    border: none !important;
    cursor: pointer !important;
    transition: all 0.1s !important;
  }

  .submit1 {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    text-transform: uppercase !important;
    font-size: 20px !important;
    border-radius: 25px !important;
    color: white !important;
    padding: 8px 60px !important;
    background: linear-gradient(to right , #3e5bef ,#455afa) !important;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px,
         rgba(0,0,0,0.22) 0px 15px 12px !important;
    margin :auto !important;
    margin-top: 15px !important;
    outline: none !important;
    border: none !important;
    cursor: pointer !important;
    transition: all 0.1s !important;
  }

  button:active {
    transform: translateY(2px) !important;
  }

  .form-success {
    display: flex !important;
    justify-content: center !important;
    margin-top: 250px !important;
    min-width: 370px !important;
    color:#77334a !important;
  }